@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Aplicacion desarrollada en ASP.NET.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ingrse a la facturacion</h2>
        <p>
            Crear una aplicación web .NET utilizando el patrón de diseño MVC (Model-View-Controller).
        </p>
        <p>@Html.ActionLink("Facturas", "Index", "Facturas")</p>
    </div>
   
</div>